/* Add resets and global styling of the project*/

  h1{
    @apply font-submain font-bold text-8xl tracking-tighter leading-[0.9];
  }

  h2{
    @apply font-medium text-3xl tracking-tight;
  }

  h3{
    @apply font-bold text-2xl tracking-normal;
  }

  h4{
    @apply font-bold text-xl tracking-normal;
  }

@layer utilities {
  .container-large {
    max-width: 80rem; /* 1280px */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .spacer-sm{
    @apply mb-3;
  }

  .spacer-l{
    @apply mb-8
  }

  .button{
    @apply h-10 px-4 py-2 rounded-2xl bg-white text-gray-800
  }

}